* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
}

nav {
    position: fixed;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid #ccc;
}

nav .logo {
    font-size: 36px;
    font-weight: 800;
}

.evidenzia {
    color: #00d2b5;
}

nav .menu__items {
    padding: 25px;
    padding-bottom: 5px;
}

nav .menu__items .menu_item {
    display: inline-block;
    list-style-type: none;
    margin: 0 15px;
}

nav .menu__items .menu_item a {
    text-decoration: none;
    color: #000;
}

nav .menu__items .menu_item a:hover {
    color: #00d2b5;
}

section#introduction {
    display: flex;
    flex-direction: row;
    padding: 20px 0;
    padding-top: 130px;
}

section#introduction .box-testo {
    width: 100%;
    margin: 0 auto;
    padding-left: 180px;
}

section#introduction .box-testo > h1 {
    font-size: 50px;
}

.btn-link {
    display: block;
    width: fit-content;
    text-decoration: none;
    background-color: #00d2b5;
    color: white;
    padding: 10px;
    border-radius: 20px;    
}

.btn-link:hover {
    transform: translateY(-5px);  
    transition: all 500ms;
}

.centrata {
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
}

.sfondo-grigino {
    background-color: rgb(240, 240, 240);
}

.titolo-blocco {
    text-align: center;
    font-weight: 900;
    font-size: 28px;
}

.fila {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
}

.box-features {
    margin: 15px;
    padding: 35px;
    background-color: white;
    border-radius: 1em;
}

.box-features:hover {
    box-shadow: 0 0 0 1px #00d2b5;
}

.box-features i {
    font-size: 30px;
    color: #00d2b5;
}


.titolo-box {
    font-weight: bold;
}

.testo-box {
    line-height: 1.5;
    color: grey;
}

.learn-more {
    text-decoration: none;
    color: #00d2b5
}

.box-features .testo-box {
    line-height: 2;
    font-size: 14px;
}

.aboutus-image img {
    width: 80%;
}

#aboutus .box-testo {
    width: 40%;
    margin: 0 auto;
}

#contact .blocco-form {
    width: 30%;
    margin: 0 auto;
    background-color: white;
    padding: 25px;
}

#contact .blocco-form .titolo-box {
    display: block;
}

#contact .blocco-form form {
    margin-top: 10px;
    padding: 0 25px;
    text-align: left;
    border: 1px solid #ccc;
    border-radius: 2em;
}

#contact .blocco-form form span {
    display: block;
    margin-top: 10px;
}

#contact .blocco-form form input,
#contact .blocco-form form textarea {
    width: 100%;
    margin-top: -5px;
    padding: 10px 25px;
}

#contact .blocco-form form input[type=submit] {
    border: none;
    margin: 10px 0;
}

footer {
    text-align: center;
    padding: 90px 0;
}

.socials {
    color: #00d2b5;
}